@CHARSET "UTF-8";

.success-wrapper{
  width:100%;
  height:100%;
  position:fixed;
  top:0; left:0;
  background:rgba(0,0,0,0.8);
  color : black;
  visibility:hidden;
  opacity:0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.success-wrapper.open{
  opacity:1;
  visibility:visible;
}

.success{
  width:600px;
/*   height:650px; */
  display:block;
  margin:50% 0 0 -300px;
  position:relative;
  top:63%; left:50%;
  background:#fff;
  opacity:0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-radius:10px;
}

.success-wrapper.open .success{
  margin-top:-185px;
  opacity:1;
}

.success-head{
  width:100%;
  height:61px;
  padding:1.5em 5%;
  overflow:hidden;
  background:#01bce5;
  border-radius:10px 10px 0 0;
}

.btn-success-close{
  width:12px;
  height:32px;
  display:block;
  float:right;
}

.btn-success-close::before, .btn-success-close::after{
  content:'';
  width:32px;
  height:6px;
  display:block;
  background:#fff;
}

.btn-success-close::before{
  margin-top:12px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
}

.btn-success-close::after{
  margin-top:-6px;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg);
}

.success-content{
  padding:5%;
}